body{
    background-color:gray
}

h1{
    color:black;
    text-align: center;

}

h2{
    color:black;
    text-align: center;
}

h3{
    color:black;
    text-align: center;
}
h4{
    color:black;
    text-align: center;
}

.image-container {
  display: flex;            
  flex-direction: row;     
  gap: 15px;               
  justify-content: center; 
}

.image-container img {
  width: 200px;            
  height: 200px;            
}


/*Nothin important here*/ 
